
@{
    ViewBag.Title = "CreateNotification";
    Layout = "~/Areas/Business/Views/Shared/_LayoutBusiness.cshtml";
}

@using DIGITAL_GAMIFY.Entities;
@using DIGITAL_GAMIFY.Code;
@model DIGITAL_GAMIFY.Entities.NotificationEntity


<script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("notifications.js"))"></script>
<div class="vd_content-wrapper">
    <div class="vd_container">
        <div class="vd_content clearfix">
            <div class="vd_head-section clearfix">
                <div class="vd_panel-header mylinks">
                    <ul class="breadcrumb">
                        <li>Notifications </li>
                        <li class="active">Add</li>
                    </ul>
                    <div class="vd_panel-menu hidden-sm hidden-xs resize-content" data-intro="" data-step="5" data-position="left">
                        <div data-action="remove-navbar" data-original-title="" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"><i class="fa fa-arrows-h"></i></div>
                        <div data-action="remove-header" data-original-title="" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"><i class="fa fa-arrows-v"></i></div>
                        <div data-action="fullscreen" data-original-title="" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"><i class="glyphicon glyphicon-fullscreen"></i></div>
                    </div>
                </div>
            </div>

            <div class="vd_content-section clearfix subdiv">
                <div class="col-lg-12 ">
                    <div class="row" id="advanced-input">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row" id="auto-complete-input">
                        <div class="col-md-12">
                            <div class="panel widget">
                                <div class="panel-heading vd_bg-grey">
                                    <h3 class="panel-title"><span class="menu-icon"><i class="fa fa-bell-o"></i></span>Add Notifications </h3>
                                </div>
                                <div class="panel-body form-horizontal">
                                    @using (Html.BeginForm("Add", "Notification", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.TextBoxFor(m => m.NotificationId, null, new { @class = "hide" })
                                        @*@Html.AntiForgeryToken();*@
                                        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger err" })
                                        <div class="clearfix"></div>
                                        <input type="hidden" id="BusinessId" value="@ViewBag.id" />
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Title <span class="vd_red">*</span></label>
                                            <div class="col-sm-5 controls">
                                                @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @class = "width-70 width-110 myfilds mytxtfilds", maxlength = "450", placeholder = "Title", id = "Title" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Promotion Link<span class="vd_red"></span></label>
                                            <div class="col-sm-5 controls">
                                                @Html.TextBoxFor(m => m.PromoLink, htmlAttributes: new { @class = "width-70 width-110 myfilds mytxtfilds", maxlength = "450", placeholder = "Promotion Link", id = "PromoLink" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Promotion Text<span class="vd_red">*</span></label>
                                            <div class="col-sm-5 controls">
                                                @Html.TextArea("PromoText", null, htmlAttributes: new { @class = "width-70 width-110 myfilds mytxtfilds", maxlength = "3500", placeholder = "Notification Text", id = "PromoText" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-2 control-label">Terms&Conditions<span class="vd_red"></span></label>
                                                <div class="col-sm-5 controls">
                                                    @Html.TextArea("Conditions", null, htmlAttributes: new { @class = "width-70 width-110 myfilds mytxtfilds", maxlength = "3500", placeholder = "Terms&Conditions", id = "Conditions" })
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Image : <span class="vd_red"></span></label>
                                            <div class="col-sm-5 controls">
                                                <img id="imgpreview" src="@Url.Content(Model.ImagePath)" class="previewimg" /><br /><br />
                                                @Html.TextBoxFor(m => m.Image, new { @class = "hide" })
                                                @Html.TextBox("ImageFile", null, htmlAttributes: new { name = "Image", @class = "width-70 width-110 myfilds mytxtfilds", type = "file", placeholder = "Upload Promotion Image", id = "ImageFile", onchange = "readURL(this,'imgpreview');" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Status <span class="vd_red">*</span></label>
                                            <div class="col-sm-5 controls">
                                                @Html.DropDownList("IsActive", new List<SelectListItem>() { new SelectListItem { Text = "Active", Value = "1" }, new SelectListItem { Text = "Inactive", Value = "0" } }, htmlAttributes: new { @class = "width-70 width-110 myfilds mytxtfilds" })
                                            </div>
                                        </div>

                                        <div class="col-lg-12 tbbg2 pagecontent grid-pi history">
                                            <div class="col-lg-12 hide nodata dataerr" id="norec">
                                                No Customers Found.
                                            </div>
                                            <div id="tblgrid">
                                                <div class="col-lg-12 grid-i">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            Total Customers : <span id="totalrec">0</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            Page Size :
                                                            <select name="ddlpagesize" id="ddlpagesize" class="form-control ps">
                                                                <option>25</option>
                                                                <option>50</option>
                                                                <option>75</option>
                                                                <option>100</option>
                                                                <option>200</option>
                                                                <option>300</option>
                                                                <option>400</option>
                                                                <option>500</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 text-right">
                                                        <div class="form-group" id="showpageinfo">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 text-right">
                                                        &nbsp;
                                                    </div>
                                                </div>

                                                <div class="tblcontent">
                                                    <div class="table-responsive">
                                                        <table id="tbldataabs" class="mytbl table display dttbl table-striped table-hover">
                                                            <thead class="oc-thead">
                                                                <tr>
                                                                    <th class="col-lg-2"><input class='chkbox' id="selectAll" type='checkbox'></th>
                                                                    <th class="col-lg-2">Name</th>
                                                                    <th class="col-lg-4">Mobile</th>
                                                                    <th class="col-lg-2">Email</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="oc-tbody" id="tbldata">
                                                                @*<tr>
                                                                        <th class="col-lg-2"><input class='chkbox' id="" name="CustomerId" checked='checked' value="1" type='checkbox'></th>
                                                                        <th class="col-lg-2">Name</th>
                                                                        <th class="col-lg-4">Mobile</th>
                                                                        <th class="col-lg-2">Email</th>
                                                                    </tr>*@
                                                                @*<tr>
                                                                        <th class="col-lg-2"><input class='chkbox' id="" name="CustomerId" checked='checked' value="2" type='checkbox'></th>
                                                                        <th class="col-lg-2">Name</th>
                                                                        <th class="col-lg-4">Mobile</th>
                                                                        <th class="col-lg-2">Email</th>
                                                                    </tr>*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="px-2 my-2 pull-right">
                                                        <ul class="pagination m-0">
                                                            <li class="active"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                                            <li><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                            <li><a href="#">3</a></li>
                                                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">      
            <button class="btn vd_btn vd_bg-green vd_white" type="submit" style="margin-right:20px"><i class=" icon-ok"></i>Send</button>
            @Html.ActionLink("Cancel", "View", new { controller = "Notifications" }, new { @class = "btn btn-danger" })      
    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("jquery.validate.min.js"))"></script>
<script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("jquery.validate.unobtrusive.min.js"))"></script>
<script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("inputmask.js"))"></script>

<script>
    $(document).ready(function () {
        SetCustomersPage();
        var customerids = "@Model.CustomerId";
        var customerid = customerids.split(',');
        if (customerid != null) {
            $.each(customerid, function (id, item) {
                //console.log(item);
                $("#chkid_" + item).prop("checked", "checked");
            });
        }
    });
    $('#selectAll').click(function (e) {
        $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    });

    function SetCustomersPage() {
        //$('#from,#to').daterangepicker({
        //    defaultDate: null,
        //    singleDatePicker: true,
        //    showDropdowns: true,
        //    minDate: moment().subtract(10, 'years'),
        //    "opens": "left",
        //    locale: {
        //        format: 'DD MMM, YYYY'
        //    }
        //}, function (chosen_date) {
        //    // $('#' + this.element[0].id).val(chosen_date.format('DD MMM, YYYY'));
        //});

        //var fr = SetQueryStDefaultVal("_f", "");
        //$("#from").val(fr);

        //var to = SetQueryStDefaultVal("_t", "");
        //$("#to").val(to);

        var pi = SetQueryStDefaultVal("_pi", 1);
        var ps = SetQueryStDefaultVal("_ps", 25);
        $("#ddlpagesize").val(ps);


        $('#btnShowAll').on("click", function (event) {
            window.location.href = GetUrlWithNoQueryStrings();
        });

        //Search event handler.
        $('#btnShow').on("click", function (event) {
            var dateerror = CheckDatesDiff($('#from').val(), $('#to').val(), 10, 0);
            var errObj = [];
            var hasErrors = false;
            //if ($("#ddlsearchbusiness").val() == null || $("#ddlsearchbusiness").val() == '-1') {
            //    hasErrors = true;
            //    errObj.push('Please select Business');
            //}
            if (dateerror != "") {
                hasErrors = true;
                errObj.push(dateerror);
            }
            if (hasErrors == false) {
                window.location.href = GetUrlWithNoQueryStrings() + "?_f=" + $("#from").val() + "&_t=" + $("#to").val() + "&_pi=" + pi;
            }
            SearchVsdisplay(errObj);
        });

        SetViewNotificationGrid(pi, ps);

        function SetViewNotificationGrid(pageindex, pagesize) {
            var bid = $("#BusinessId").val();
            var row = '';
            var reccount = 0;
            gl.ajaxreqloader(websiteurlapi + "/GetCustomerByBusiness", "POST", { BusinessId: bid, Pi: pageindex, Ps: pagesize }, function (response) {
               // console.log(response);
                if (response.length > 0) {
                    $('#tbldata').removeClass('hide');
                    $('#norec').addClass('hide');
                    reccount = response[0].TotalRecords;
                    $.each(response, function (i, item) {
                        row += "<tr><td><input class='chkbox' id='chkid_" + item.CustomerId + "' name='CustomerId' value='" + item.CustomerId + "'  type='checkbox'></td><td class='col-lg-2'>" + item.FirstName + ' ' + item.LastName + "</td><td class='col-lg-4'>" + item.Mobile + "</td><td class='col-lg-2'>" + item.Email + "</td></tr>";
                    });
                    $("#tbldata").html(row);
                    setPaging(reccount, pageindex, pagesize);
                }
                else {
                    $('#norec').removeClass('hide');
                    $('#tbldata').addClass('hide');
                }

            }, '', '', '', '', false, false);
        }

        $(document).on("click", ".d-paging", function (event) {
            var pagesize = $('#ddlpagesize').val();
            var pageindex = $(this).attr('_id');
            window.history.pushState(null, "", GetUrlWithNoQueryStrings() + "?_f=" + $("#from").val() + "&_t=" + $("#to").val() + "&_pi=" + pageindex + "&_ps=" + pagesize);
            SetViewNotificationGrid(pageindex, pagesize);
        });
        $(document).on("change", '#ddlpagesize', function (event) {
            var pagesize = $('#ddlpagesize').val();
            var pageindex = 1;
            window.history.pushState(null, "", GetUrlWithNoQueryStrings() + "?_f=" + $("#from").val() + "&_t=" + $("#to").val() + "&_pi=" + pageindex + "&_ps=" + pagesize);
            SetViewNotificationGrid(pageindex, pagesize);
        });
    }
</script>
