@using DIGITAL_GAMIFY.Entities;
@using DIGITAL_GAMIFY.Code;

@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<!-- Specific Page Data -->
<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>@Globalsettings.GetProjectName() </title>
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content(Globalsettings.adminthemeimagepath("favicon.ico"))">
    <!-- CSS -->
    <link href="@Url.Content(Globalsettings.admincsspath("theme.min.css"))" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->


</head>

<body id="pages" class="full-layout no-nav-left no-nav-right  nav-top-fixed background-login responsive remove-navbar login-layout clearfix" data-active="pages " data-smooth-scrolling="1" style="background-image: url('/Content/images/loginbg.jpg')!important;">
    <div class="vd_body">
        <div class="content">
            <div class="container">
                <!-- Middle Content Start -->
                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_content-section clearfix" style="padding: 0px;">
                                <div class="vd_login-page">
                                    <div class="heading clearfix">
                                        <div class="logo">
                                            @*<h2 class="mgbt-xs-5" style="font-size: 35px; color: #fff;">@Globalsettings.GetProjectName()</h2>*@
                                            <img src="/Content/images/logo.png" class="logoimg" />
                                        </div>
                                        <h4 class="text-center font-semibold vd_grey" style="color:#fff !important;">ADMIN LOGIN</h4>
                                    </div>
                                    <div class="panel widget">
                                        <div class="clear-fix"></div>
                                        <div class="panel-body" style="padding: 0px;">
                                            <div class="col-lg-12 mybordr" style="padding: 0px;">
                                                <div class="col-xs-3" style="background-color: #6bba48; height: 5px;"></div>
                                                <div class="col-xs-3" style="background-color: #34DBCF; height: 5px;"></div>
                                                <div class="col-xs-3" style="background-color: #ff5a00; height: 5px;"></div>
                                                <div class="col-xs-3" style="background-color: #f00; height: 5px;"></div>
                                            </div>

                                            <div class="login-icon entypo-icon">
                                                <i class="fa fa-lock"></i>
                                            </div>
                                            @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                                            {
                                                <form class="form-horizontal" id="login-form" action="#" role="form">


                                                    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger err" })




                                                    <div class="col-lg-12">
                                                        <div class="form-group  mgbt-xs-20">
                                                            <div class="col-md-12 mymargin">
                                                                <div class="vd_input-wrapper paswrd" id="userid-input-wrapper">
                                                                    <span class="menu-icon"><i class="fa fa-user" aria-hidden="true"></i></span>

                                                                    @Html.TextBox("UserName", null, new { @class = "required", placeholder = "Username", autocomplete = "off" })
                                                                </div>
                                                                <!-- <span class="errormsg">Please Enter User id</span> -->
                                                            </div>
                                                            <div class="col-md-12 mymargin">
                                                                <div class="vd_input-wrapper paswrd" id="password-input-wrapper">
                                                                    <span class="menu-icon"><i class="fa fa-lock"></i></span>
                                                                    @Html.TextBox("Password", null, new { @class = "required", placeholder = "Password", autocomplete = "off", type = "password" })

                                                                </div>
                                                                <!-- <span class="errormsg">Please Enter Your password</span> -->
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-12 text-center mgbt-xs-5">
                                                                <button class="btn vd_bg-green vd_white width-100 loginbtn" type="submit" id="login-submit">Login</button>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 hide">
                                                                <div class="row">
                                                                    <div class="col-xs-6">
                                                                        <div class="vd_checkbox">
                                                                            <input type="checkbox" id="checkbox-1" value="1">
                                                                            <label for="checkbox-1">Remember me</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6 text-right">
                                                                        <div class="passwrd"><a href="pages-forget-password.html">Forgot Password? </a></div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                    <!-- Panel Widget -->
                                </div>
                                <!-- vd_login-page -->
                            </div>
                            <!-- .vd_content-section -->
                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- Middle Content End -->
            </div>
            <!-- .container -->
        </div>
        <!-- .content -->
        <!-- Footer Start -->
        <footer class="footer-2" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright text-center" style="margin-top: 5px;">
                                @Globalsettings.GetCopyRight()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
    </div>
    <!--Javascirpt files reqiured for website-->
    <script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("jquery.min.js"))"></script>
    <script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("bootstrap.min.js"))"></script>
    <script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("global.js"))"></script>
    <script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("jquery.validate.min.js"))"></script>
    <script type="text/javascript" src="@Url.Content(Globalsettings.adminjspath("jquery.validate.unobtrusive.min.js"))"></script>

</body>
</html>
